.Menu {
  background-image: linear-gradient(
    to right top,
    #b40000,
    #ca3929,
    #de5c4c,
    #ef7c70,
    #fe9c93
  );
}

.primary-text,
.secondary-text {
  color: white;
  text-align: center;
  font-weight: bold;
}

.Menu .primary-text {
  padding-top: 5%;
  font-size: 50px;
}

.Menu .secondary-text {
  padding-bottom: 3%;
  font-size: 30px;
}

.footer {
  text-align: center;
}
